@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Arial, Helvetica, sans-serif;';
}
nav{
	width: 100%;
	height: 75px;
	background-color: #252525;
	line-height: 75px;
	padding:0px 100px;
	position:relative;
	z-index: 1;
}
nav .logo{
	font-size: 30px; float: left;
	font-weight: normal;
	letter-spacing: 1.5px; 
}
nav .logo p{
	float: left;
	color:#fff;
	text-transform: uppercase;
}
nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style: none;
}
nav ul li a{
	color:#fff;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	padding:0px 32px;
}
nav ul li a:hover{
	color:#cd4cd1;
}

.image img{
	width: 100%;
	height: 0px auto;
	opacity: 0.80;
    
}
iframe{
    height: 300px;
    width: 600px;
    margin-top: 25px;
    margin-left: 350px;
    margin-right: 350px;
}
footer{
    font-weight: bold;
    font-size: 24px;
}
    




