html {
    overflow: auto;
  }

  html,
  body {
    height: 100%;
    font-family: 'Quicksand';
  }

  body {
    border: 7px solid blue;
    border-width: 0px 5px 5px 5px;
    overflow: scroll;
    overflow-x: hidden;
    display: block;

    margin: 0;
    /* Space from this element (entire page) and others*/
    padding: 0;
    /*space from content and border*/
  }

 :root {
  --EAD: #f4879f;}
  /*=======================================================*/

#main-navbar{  padding: 1em 5em;}
.navbar-brand{  width:8rem;}
.nav-link {  margin: 0 .75em;transition: linear .2s}
.img-cara {  margin: 0 .75em;transition: linear .2s}
.img-cara:hover {  transform:scaleX(150%) ;}
.nav-link:hover {  transform:scaleX(150%) ;   color:var(--EAD) !important;}
.kotakku   { background-color:#caf2fd}
.font-light {  font-weight:300;}
.card {  transition: ease-in-out .2s}
.card-img-top {  height: 18rem;}
.card:hover {  transform : translateY(-6px);}
.submit-btn:hover {  transform : translateY(-4px);}
.h2 {  transition: ease-in-out .5s}
.h2:hover {color:#43c6e9;}
